{
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "module": true
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "curly": 0,
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "no-return-assign": 0,
    "consistent-return": 0,
    "no-shadow": 0,
    "no-comma-dangle": 0,
    "no-use-before-define": 0,
    "no-empty": 0,
    "new-parens": 0,
    "no-cond-assign": 0,
    "eol-last": 0,
    "quotes": 0,
    "semi": [2, "never"],
    "eqeqeq": 2,
    "no-trailing-spaces": 0,
    "new-cap": 0,
    "camelcase": 0,
    "no-alert": 0
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "amd": true,
    "node": true
  },
  "globals": {
    "jwplayer": true
  }
}

